<div class="wrapper">
  <img id="bg-img" src="assets/img/manhausen3.png" alt="">
  <div id="container" class="container">
    <span class="blur"></span>
    <span class="blur"></span>
    <span class="blur"></span>
    <span class="blur"></span>
    <span class="blur"></span>
    <span class="blur"></span>
    <span class="blur"></span>
    <span class="blur"></span>
    <div class="text">
      <h2>Wild panorama glass room</h2>
      <div class="content-wrapper">
        <p>
          Couchers de soleil et observation des étoiles incroyables et avec un peu de chance,
          regarder les aurores boréales danser au-dessus de vous.
          Des paysages magnifiques et des vues panoramiques depuis votre lit super confortable ou votre bain à remous privé.
        </p>
        <div class="contact-wrapper">
          <p class="contact">
            <a target="_blank" href="https://www.google.com/maps/place/Lindarbakki/@65.5257815,-13.8372803,14z/data=!4m15!1m8!3m7!1s0x48d22b52a3eb6043:0x6f8a0434e5c1459a!2sIslande!3b1!8m2!3d64.963051!4d-19.020835!16zL20vMDNyajA!3m5!1s0x48cbedd1fbb385fb:0xdb0cc7bccbd472f1!8m2!3d65.5253375!4d-13.8092968!16s%2Fg%2F11cr_g10r3?entry=ttu">
              G5GR+47P، 720، Bakkagerði, Iceland
          </a></p>
          <p class="contact">+33633497958</p>
          <p class="contact"><a href="mailto:vivian_dlny@hotmail.com">vivian_dlny@hotmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
